@keyframes second {
  from {
    transform: rotate(0deg);
    position: fixed;
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-45deg);
    position: fixed;
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes third {
  from {
    transform: rotate(45deg);
    position: fixed;
  }
  to {
    transform: rotate(0deg);
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* background-size: cover; */
  animation-delay: 3s;
}

.card {
  position: absolute;
  width: 446px;
  height: 443px;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  animation: third 1s linear infinite;

  z-index: 2;
}

.card-two {
  position: absolute;
  width: 446px;
  height: 443px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  animation: rotate 1s linear infinite;
  /* animation-delay: 0s; */
  z-index: 1;
}

.card-one {
  position: absolute;
  width: 446px;
  height: 443px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  animation: second 1s linear infinite;
  /* animation-delay: 1.66s; */
  z-index: 1;
}

.card-one {
  /* animation-delay: 3.33s; */
  z-index: 1;
}

.cardContent {
  text-align: center;
}
.card img {
  width: 446px;

  height: 443px;
}
.card-one img {
  width: 446px;

  height: 443px;
}
.card-two img {
  width: 446px;

  height: 443px;
}
