.input-form {
  display: grid;
  font-family: var(--font-work);
  grid-auto-flow: column;
  justify-content: flex-start;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
.input-gap {
  display: grid;
  row-gap: 10px;
}
.form .input-form-message {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.input-form-message {
  height: 80px;
}

.line {
  height: 20px;
  background-color: grey;
  width: 1px;
}
input {
  border: none;
  background: none;
  width: 100%;
  outline: none;
  font-family: var(--font-work);
}
.overall-form {
  display: grid;
  grid-auto-flow: column;
  /* justify-content: space-between; */
  column-gap: 20px;
  row-gap: 25px;
}
.sub-form {
  display: grid;
  background: white;
  border-radius: 10px;
  width: 700px;
  padding: 40px;
  row-gap: 25px;
}
.form-touch {
  border: 1px solid #00a9ff;
  color: #00a9ff;
  padding: 10px;
  display: grid;
  align-items: center;
}
.form-touch button {
  border: none;
  outline: none;
  background: none;
  color: #00a9ff;
  cursor: pointer;
}
textarea {
  border: none;
  outline: none;
  font-family: var(--font-work);
  height: 60px;
  width: 100%;
}
.email-successfully {
  display: grid;
  font-family: var(--font-work);
  color: green;
  justify-items: center;
}
/* Tab View  */

@media (min-width: 650px) and (max-width: 1024px) {
  .overall-form {
    display: grid;
    justify-content: space-between;
    grid-column-gap: 10px;
    column-gap: 10px;
    grid-row-gap: 15px;
    row-gap: 15px;
  }
  .input-form {
    max-width: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
  }
}

/* Mobile View  */

@media (min-width: 320px) and (max-width: 650px) {
  .overall-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .input-form {
    max-width: 100%;
    display: grid;
    /* grid-auto-flow: column; */
    justify-content: flex-start;
    column-gap: 10px;
  }
}
