.main-banner {
  max-width: 100%;
}

.banner-card {
  padding-bottom: 200px;
  width: 100%;
  background-image: url(../public/Images/banner.svg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.left-grid {
  max-width: 100%;
  display: grid;
  row-gap: 30px;
  padding: 120px 0 0 70px;
  margin-bottom: 10px;
}
.left-container-banner {
  max-width: 100%;
}

.left-line {
  border-bottom: 1px solid #00a9ff;
  border-top: 1px solid #00a9ff;
  max-width: fit-content;
}
.left-line p {
  font-family: var(--font-work);
  font-weight: 500;
}
.left-container-roboto {
  font-size: 32px;
  font-weight: 700;
  color: #333333;
  line-height: 74.94px;
  max-width: 41rem;
}
.dot {
  color: #00a9ff;
}
.left-container-roboto h1 {
  font-family: var(--font-roboto);
}
.left-grid-para {
  max-width: 30rem;
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
  display: grid;
  row-gap: 10px;
  max-width: 26rem;
}
.left-grid-get {
  display: grid;
  grid-template-columns: 0.9fr 13fr;
  align-items: center;
}
.left-grid-get p {
  font-size: 14px;
  font-weight: 600;
  color: #00a9ff;
  font-family: var(--font-work);
}
.left-grid-get img {
  width: 55px;
  height: 40px;
  border: 2px;
}

/* Second Component */
.animation img:nth-child(2) {
  display: none;
}

.page-top {
  display: grid;
  padding: 50px 0;
  align-items: center;
}
.page-too-find {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  padding: 50px 0;
  align-items: center;
}
.page-two-right-grid {
  display: grid;
  padding: 0 70px 0 0;
  row-gap: 20px;
  max-width: 44rem;
}
.page-two-right-grid-para {
  display: grid;
  row-gap: 15px;
}
.page-two-right-grid-para p:nth-child(1) {
  color: #333333;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-roboto);
}
.page-two-right-grid-para p:nth-child(2) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2rem;
  font-family: var(--font-work);
}
.page-two-right-grid-para p:nth-child(3) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2rem;
  font-family: var(--font-work);
}
.page-two-right-grid-para p:nth-child(4) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2rem;
  font-family: var(--font-work);
}
.page-three {
  display: grid;
  justify-items: center;
  position: relative;
  padding: 0 0 100px 0;
}
.border {
  border: 1px solid #00a9ff;
  height: 111px;
  width: 880px;
  border-bottom: none;
  border-radius: 5px;
  position: absolute;
}
.blueline {
  height: 200px;
  width: 1px;
  background-color: #00a9ff;
  position: relative;
}
.bluelinetwo {
  display: none;
}
.flextwoline {
  display: grid;
  justify-items: center;
}
.flex-background {
  background: white;
  position: absolute;
}
.flex {
  display: grid;
  grid-auto-flow: column;
  max-width: 100%;
  gap: 32px;
  align-items: end;
}
.flex-one {
  border: 1px solid #00a9ff;
  border-radius: 10px;
  width: 400px;
  height: 586px;
  display: grid;
  row-gap: 5px;
  padding: 30px;
}
.flex-one img {
  width: 64px;
  height: 64px;
}
.flex-one p:nth-child(2) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-work);
}
.flex-one p:nth-child(3) {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-roboto);
}
.flex-one p:nth-child(4) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.flex-one p:nth-child(5) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.flex-one p:nth-child(6) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.flex-one:hover {
  background: #00a9ff;
}
.flex-one:hover p {
  color: white;
}
.flex-one:hover img {
  filter: brightness(0) invert(1);
}
.flex-two {
  border: 1px solid #00a9ff;
  border-radius: 10px;
  width: 400px;
  height: 496px;
  display: grid;
  row-gap: 5px;
  padding: 30px;
}
.flex-two img {
  width: 64px;
  height: 64px;
}
.flex-two p:nth-child(2) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-work);
}
.flex-two p:nth-child(3) {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-roboto);
}
.flex-two p:nth-child(4) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.flex-two p:nth-child(5) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.flex-two p:nth-child(6) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
}
.flex-two:hover {
  background-color: #00a9ff;
}
.flex-two:hover p {
  color: white;
}
.flex-two:hover img {
  filter: brightness(0) invert(1);
}

/* third component  */

.page-four {
  display: grid;
  background-color: #ecfaff;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 80px;
}
.top-get-started {
  display: grid;
  row-gap: 30px;
}
.get-started-para {
  display: grid;
  row-gap: 20px;
}
.get-started-para h1 {
  font-size: 40px;
  font-weight: 700;
  max-width: 38rem;
  font-family: var(--font-roboto);
}
.get-started-para p:nth-child(2) {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  max-width: 36rem;
}
.get-started-para p {
  font-family: var(--font-work);
}

.man {
  display: none;
}

.accordion-column {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  padding: 50px 50px 0 50px;
}

.accordian-title-content {
  display: grid;
  row-gap: 10px;
  font-weight: 200;
}
.accordion-content {
  display: grid;
  row-gap: 16px;
}
.accordion-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #777777;
}
.left-line p {
  color: #00a9ff;
}
.man-para {
  display: grid;
  justify-items: center;
  gap: 24px;
}
.man-para p:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  font-family: var(--font-roboto);
}
.man-para p:nth-child(2) {
  font-family: var(--font-work);
  color: #777777;
  font-weight: 500;
  font-size: 14px;
  max-width: 30rem;
}
.man-grid {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  max-width: 550px;
  gap: 24px;
}
.man-para-image {
  display: grid;
  gap: 1px;
}
.man img {
  display: none;
}
.color {
  background-color: #e9f6fd;
  display: none;
}
.man-grid-image img {
  width: 360px;
  height: 400px;
}
.man-content {
  display: grid;
  justify-items: center;
  row-gap: 10px;
}

/* Tab View  */

@media (min-width: 650px) and (max-width: 1024px) {
  .over {
    width: 100%;
  }
  .banner-card {
    height: 100vh;
    max-width: 100%;
    background-image: url(../public/Images/banner.svg);
    background-size: cover;
    background-position-x: right;
    position: relative;
    overflow: hidden;
  }
  .banner-card .left-grid {
    display: none;
  }
  .left-line {
    border-bottom: 1px solid #00a9ff;

    border-top: 1px solid #00a9ff;
    max-width: fit-content;
  }
  .left-grid {
    max-width: 100%;
    display: grid;
    row-gap: 50px;
    justify-items: center;
    text-align: center;
    padding: 50px 0 0 0;
  }
  .dot {
    color: #00a9ff;
  }
  .left-container-roboto {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    line-height: 64.94px;
    max-width: 35rem;
    font-family: "san";
  }
  .left-grid-get {
    display: grid;
    grid-template-columns: 0.9fr 13fr;
    align-items: center;
  }
  .left-grid-get p {
    font-size: 14px;
    font-weight: 600;
    color: #00a9ff;
    width: 6rem;
  }
  .left-grid-para {
    max-width: 30rem;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: auto;
    font-family: var(--font-work);
    display: grid;
    row-gap: 5px;
  }
  .left-grid-get img {
    width: 55px;
    height: 40px;
    border: 2px;
  }
  .animation img:nth-child(1) {
    display: block;
  }
  .animation img:nth-child(2) {
    display: none;
  }

  .page-top {
    display: grid;
  }
  .page-too-find {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
  }
  .border {
    display: none;
  }
  .blueline {
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
  }
  .bluelinetwo {
    display: block;
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
  }
  .flextwoline {
    display: grid;
    justify-items: center;
  }

  .flextwoline {
    display: grid;
    justify-items: center;
  }
  .flex-one img {
    width: 40px;
    height: 40px;
  }
  .flex-two img {
    width: 40px;
    height: 40px;
  }
  .page-three {
    display: grid;
  }

  .page-three .flex {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0;
    justify-items: center;
  }
  .page-four {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    padding: 40px;
  }
  .get-started-para h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .overall-form {
    display: grid;
    justify-content: space-between;
    grid-column-gap: 10px;
    column-gap: 10px;
    grid-row-gap: 15px;
    row-gap: 15px;
  }
  .input-form {
    max-width: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
  }
  .right-top {
    display: grid;
    justify-self: center;
  }
  .page-two-right-grid {
    padding: 10px;
  }
  .accordion-column {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }
  .man-grid {
    display: grid;
    justify-self: center;
    padding: 10px 0 0 0;
  }

  .page-four {
    display: grid;
    justify-content: center;
    row-gap: 25px;
  }
  .top-get-started-para {
    justify-items: center;
    text-align: center;
  }
  .get-started {
    justify-self: center;
    padding: 20px 0;
  }
  .color {
    background-color: #e9f6fd;
    display: block;
  }

  .man-content {
    row-gap: 20px;
    display: grid;
    justify-items: center;
  }

  .page-two-right-grid-para p:nth-child(2) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    max-width: 40rem;
    line-height: 1.2rem;
    justify-self: center;
  }
  .page-two-right-grid-para p:nth-child(3) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    max-width: 40rem;
    line-height: 1.2rem;
    justify-self: center;
  }
  .page-two-right-grid-para p:nth-child(4) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    max-width: 40rem;
    line-height: 1.2rem;
    justify-self: center;
  }
  .man-para p:nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
}

/* Mobile View  */

@media (min-width: 320px) and (max-width: 650px) {
  .over {
    width: 100%;
    display: grid;
  }
  .main-banner {
    max-width: 100%;
  }
  .banner-card {
    height: 346px;
    height: 75vh;
    width: 100%;
    max-width: 100%;
    background-image: url(../public//Images//fetch.svg);
    background-size: cover;
    background-position-x: right;
    position: relative;
    overflow: hidden;
  }
  .left-line p {
    font-size: 20px;
    /* line-height: 13px; */
    /* padding: 7px 0; */
    letter-spacing: 1px;
  }
  .left-line {
    border-bottom: 1px solid #00a9ff;
    border-top: 1px solid #00a9ff;
    width: 100%;
  }
  .left-grid {
    max-width: 100%;
    display: grid;
    row-gap: 25px;
    /* justify-items: center; */
    /* text-align: center; */
    padding: 40px 40px;
  }
  .dot {
    color: #00a9ff;
  }
  .left-container-roboto {
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    line-height: 44.94px;
    max-width: 30rem;
    font-family: "san";
  }

  .left-container-roboto h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 50.47px;
    max-width: 25rem;
    font-family: var(--font-roboto);
  }
  .left-grid-get {
    display: grid;
    grid-template-columns: 0.9fr 13fr;
    align-items: center;
    font-size: 14px;
  }
  .left-grid-para {
    max-width: 30rem;
    color: #777777;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    font-family: auto;
    display: grid;
    row-gap: 5px;
    font-family: var(--font-work);
  }
  .left-grid-get img {
    width: 55px;
    height: 40px;
    border: 2px;
  }
  .left-grid-get p {
    font-size: 14px;
    font-weight: 600;
    color: #00a9ff;
    width: 6rem;
  }

  /* second component  */

  .page-top {
    display: grid;
  }

  .page-too-find {
    display: grid;
    grid-auto-flow: row;
  }
  .right-top {
    display: grid;
    /* justify-self: center; */
  }
  .page-two-right-grid {
    padding: 0 30px;
    row-gap: 35px;
  }
  .animation {
    display: grid;
    justify-items: center;
  }
  .animation img:nth-child(1) {
    display: none;
  }
  .animation img:nth-child(2) {
    display: grid;
    justify-items: center;
    width: 500px;
    height: 520px;
  }

  .page-two-right-grid-para {
    display: grid;
    row-gap: 30px;
  }

  .page-two-right-grid-para p:nth-child(2) {
    color: #777777;
    font-size: 18px;
    font-weight: 500;
    max-width: 35rem;
    line-height: 23px;
    /* justify-self: center; */
  }
  .page-two-right-grid-para p:nth-child(3) {
    color: #777777;
    font-size: 18px;
    font-weight: 500;
    max-width: 35rem;
    line-height: 23px;
    /* justify-self: center; */
  }
  .page-two-right-grid-para p:nth-child(4) {
    color: #777777;
    font-size: 18px;
    font-weight: 500;
    max-width: 40rem;
    line-height: 23px;
    justify-self: center;
  }

  /* third component  */

  .page-three {
    display: grid;
  }
  .border {
    display: none;
  }
  .page-three .flex {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 0;
  }
  .blueline {
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
  }
  .bluelinetwo {
    display: block;
    height: 50px;
    width: 1px;
    background-color: #00a9ff;
    position: relative;
  }
  .flextwoline {
    display: grid;
    justify-items: center;
  }

  .flextwoline {
    display: grid;
    justify-items: center;
  }
  .flex-one img {
    width: 40px;
    height: 40px;
  }
  .flex-two img {
    width: 40px;
    height: 40px;
  }
  .flex-one {
    border: 1px solid #00a9ff;

    border-radius: 10px;
    width: 400px;
    height: 586px;
    display: grid;
    row-gap: 5px;
    padding: 30px;
  }
  .flex-two {
    border: 1px solid #00a9ff;

    border-radius: 10px;
    width: 400px;
    height: 496px;
    display: grid;
    row-gap: 5px;
    padding: 30px;
  }
  .flex-one img {
    width: 64px;
    height: 64px;
  }
  .flex-one p:nth-child(2) {
    color: #777777;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-work);
  }
  .flex-one p:nth-child(3) {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    font-family: var(--font-roboto);
  }
  .flex-one p:nth-child(4) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .flex-one p:nth-child(5) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .flex-one p:nth-child(6) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }

  .flex-two img {
    width: 64px;
    height: 64px;
  }
  .flex-two p:nth-child(2) {
    color: #777777;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-work);
  }
  .flex-two p:nth-child(3) {
    color: #333333;
    font-size: 22px;
    font-weight: 600;
    font-family: var(--font-roboto);
  }
  .flex-two p:nth-child(4) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .flex-two p:nth-child(5) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }
  .flex-two p:nth-child(6) {
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: var(--font-work);
  }

  .page-four {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    padding: 20px;
  }
  .top-get-started {
    display: grid;
    row-gap: 0;
    padding: 50px 0 60px 0;
  }
  .get-started {
    /* justify-self: center; */
    padding: 10px 0;
    /* text-align: center; */
    padding-bottom: 20px;
  }
  .get-started-para {
    font-size: 18px;
    line-height: 16px;
    color: #777777;
    font-weight: 600;
  }

  .get-started-para h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 45px;
    color: #333333;
  }
  .get-started-para p:nth-child(2) {
    color: #777777;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    max-width: 37rem;
  }
  .top-get-started-para {
    display: grid;
    justify-items: center;
    text-align: center;
  }

  .accordion-column {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }
  .man-grid {
    display: grid;
    justify-self: center;
    padding: 10px 0 0 0;
  }

  .page-four {
    display: grid;
    justify-content: center;
  }

  .color {
    background-color: #e9f6fd;
    display: block;
    width: 100%;
  }
  .banner-card .left-grid {
    display: none;
  }

  .man-para p:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  .man-para p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    max-width: 33rem;
    display: grid;
    text-align: center;
  }
  html {
    max-width: 100%;
    display: grid;
  }
  .man {
    display: grid;
    justify-self: center;
  }
  .man-para {
    padding: 10px;
  }
  .man {
    display: grid;
    justify-items: center;
    padding: 40px 0;
  }
  .man .left-line p {
    justify-items: center;
  }
  .man-grid-image img {
    display: block;
    height: 600px;
    width: 500px;
  }
  .man-content {
    display: none;
  }
}
