.footer {
  display: grid;

  grid-auto-flow: column;
  justify-content: space-evenly;
  column-gap: 50px;
  padding: 60px 60px;
  justify-items: end;
  border-top: 1px solid #00a9ff;
}
.image-number {
  display: grid;
  grid-template-columns: 1fr 12fr;
  column-gap: 5px;
}
.code {
  height: 40px;
  width: 10px;
  color: #cbecfd;
}
.footer-center p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-work);
  color: #777777;
  max-width: 41rem;
}
.image-row {
  display: grid;
  row-gap: 10px;
}
.image-number p {
  font-size: 14px;
  color: #777777;
  font-weight: 500;
  font-family: var(--font-work);
}
.sub-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background-color: #00a9ff;
  color: white;
  /* height: 66px; */
  align-items: center;
  padding: 20px 40px;
}
.sub-footer-rights {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: var(--font-work);
}

.sub-footer-terms {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: var(--font-work);
}
.footer-parent {
  display: grid;
  grid-auto-flow: row;
}
@media (min-width: 320px) and (max-width: 650px) {
  .footer {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: baseline;
    padding: 20px;
  }
  .sub-footer {
    display: grid;
    grid-auto-flow: row;
    padding: 30px;
    row-gap: 30px;
  }
  .image-row {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
  }
  .sub-footer p {
    color: #cbedff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }
  .sub-footer-terms {
    font-size: 13px;

    display: grid;
    justify-content: space-between;
  }
}
@media (min-width: 650px) and (max-width: 1024px) {
  .footer {
    display: grid;
    grid-auto-flow: row;
    place-items: flex-start;
    padding: 20px;
  }
  .image-row {
    display: grid;
    grid-auto-flow: column;
  }
  .sub-footer {
    display: grid;
    grid-auto-flow: row;
    padding: 10px;
    justify-content: end;
    row-gap: 5px;
  }
  .sub-footer p {
    font-size: 12px;
  }
  .sub-footer-terms {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
